<div>
  <hr>
  <h4>Reviews</h4>
  <br>
  <% if product.reviews.length == 0 %>
    <p>There are no reviews for this product.</p>
  <% else %>  
    <% product.reviews.all.each do |review| %>
      <div>rating:<%= review.rating %><br>description: <%= review.description %><br><br></div>
    <% end %>
  <% end %>
</div